<% include ../partials/header %>


<div class="container">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">
        <%= game.name %>
      </h1>
      <p class="lead">
        <span class="more">
        <%= game.description %>
      </span>
      </p>
      <span class="time-diff float-right hidden">
        <%= game.gamestartdate %></span>
    </div>
  </div>

  <% if(currentUser.role >= 2){ %>

  <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home"
        aria-selected="true">Bölümler</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile"
        aria-selected="false">Oyuncular</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact"
        aria-selected="false">NPC</a>
    </li>
  </ul>
  <hr>
  <% } %>
</div>

<!--TAB CONTENT-->
<div class="container">
  <div class="tab-content" id="pills-tabContent" style="width:100%;">

    <!--Sections TAB CONTENT-->
    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
        <% if(currentUser.role >= 2){ %>
      <form class="form-inline" action="/games/<%= game._id %>/sections" method="POST">
        <div class="form-row">
          <div class="col">
            <input type="text" class="form-control" name="section[name]" placeholder="Bölümün İsmi" required>
          </div>
          <div class="col">
            <input class="form-control" type="date" name="section[startdate]" required>
          </div>
          <div class="col">
            <button class="btn btn-outline-secondary" style="margin-bottom:10px;">Bölüm Ekle</button>
          </div>
        </div>
      </form> <% } %>
      <form class="form-inline" id="section-select">
        <div class="form-group col-md-4 col-sm-12" style="padding-left:0">
          <select class="form-control">
            <% game.sections.forEach(function(section) { %>
            <option value="<%= section._id %>">
              <%= moment(section.startdate).locale("tr").format('LL'); %>/
              <%= section.name %>
            </option>
            <% }); %>
          </select>
        </div>
      </form>
      <hr>
      <div id="section-content">
        <h4></h4>
        <div class="well" id="comments-well">

        </div>
        <div class="section-comments">

        </div>
      </div>
    </div>
    <!--Sections TAB CONTENT-->


    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
      <div class="row" id="game-players">
        <div class="col-sm-12 col-md-4">
          <div class="card border-dark mb-3" style="max-width: 18rem;">
            <div class="card-header">Header</div>
            <div class="card-body text-dark">
              <h5 class="card-title">Dark card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>
            </div>
          </div>
        </div>
      </div>
    <div class="row">
      <div class="col-md-6">
        <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#user-add-modal">
          Yeni Oyuncu Ekle
        </button>
      </div>

    </div>
  </div>

  <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">contacct</div>
</div>
</div>


<!-- New player modal -->
<div class="modal fade bd-example-modal-sm" id="user-add-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Kullanıcı Ekle</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="new-user-form" action="/users/<%= game._id %>" method="POST">
          <div class="form-group">
            <label for="user-name" class="col-form-label">Kullanıcı Adı:</label>
            <input type="text" class="form-control" id="user-name" name="user[username]" required>
          </div>
          <div class="form-group">
            <label for="password" class="col-form-label">Şifre:</label>
            <input type="password" class="form-control" id="password" name="user[password]" required>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">İptal</button>
            <button type="submit" class="btn btn-success">Kaydet</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<% include ../partials/gamesFooter %>